<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.szzcs.smartpos">
    <!-- android:sharedUserId="android.uid.system" -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.SERIAL_PORT" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!--hola-->
    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Productos.formapagoProducto"></activity>
        <activity android:name=".Productos.claveProducto"></activity>
        <activity android:name=".Productos.ListAdapterFProductos"></activity>
        <activity android:name=".Productos.ListAdapterProd"></activity>
        <activity android:name=".Productos.ListAdapterProductos"></activity>
        <activity android:name=".Productos.posicionProductos"></activity>
        <activity android:name=".Productos.terminaVenta"></activity>
        <activity android:name=".Productos.VentasProductos"></activity>

        <activity android:name=".Pendientes.claveUPendientes"></activity>
        <activity android:name=".Pendientes.ticketPendientes"></activity>

        <activity android:name=".Gastos.cargavaleGasto" />
        <activity android:name=".Gastos.claveGastos" />
        <activity android:name=".Gastos.cargaGasto" />
        <activity android:name=".Gastos.autizacionGastos" />

        <activity android:name=".SplashEmpresas.SplashPemex" />
        <activity android:name=".SplashEmpresas.SplashGulf" />
        <activity android:name=".Puntada.Registrar.ClaveDespachadorPuntada" />
        <activity android:name=".TanqueLleno.ProductoTLl" />
        <activity android:name=".configuracion.tipoempresa" />
        <activity android:name=".SplashEmpresas.Splash" />
        <activity android:name=".Puntada.Redimir.BalanceProductos" />
        <activity android:name=".Puntada.Redimir.ClaveTarjeta" />
        <activity android:name=".Puntada.Acumular.productos" />
        <activity android:name=".Puntada.Redimir.PosicionRedimir" />
        <activity android:name=".Puntada.Acumular.posicionCarga" />
        <activity android:name=".TanqueLleno.ClaveDespachadorTL" />
        <activity android:name=".TanqueLleno.PosicionCargaTLl" />
        <activity android:name=".Puntada.Registrar.PosicionCargasPuntada" />
        <activity android:name=".Puntada.Registrar.ClaveRegistrarPuntada" />
        <activity android:name=".Puntada.SeccionTarjeta" />
        <activity android:name=".Productos.VentasProductos" />
        <activity android:name=".Productos.claveUsuarioProducto" />
        <activity android:name=".Productos.posicionProductos" />
        <activity android:name=".Puntada.posicionCargaAcumular" />
        <activity android:name=".Puntada.PosicionCargaPuntada" />
        <activity android:name=".Puntada.ClavePuntada" /> <!-- Gerarqui de puntada -->
        <activity
            android:name=".Puntada.leerTargeta"
            android:parentActivityName=".Munu_Principal" /> <!-- Esto es la escala gerarquica de herncia entre ventanas -->
        <!-- Este Activity es formas de pago -->
        <activity
            android:name=".Ticket.formas_de_pago"
            android:parentActivityName=".Ticket.claveUsuario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ticket.claveUsuario" />
        </activity>
        <activity
            android:name=".Ticket.claveUsuario"
            android:parentActivityName=".Ticket.ventas">

            <!-- Soporte para versiones 4.0 o menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Ticket.ventas" />
        </activity>
        <activity
            android:name=".Ticket.ventas"
            android:parentActivityName=".Munu_Principal">

            <!-- Soporte para versiones 4.0 o menores -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Munu_Principal" />
        </activity> <!-- Aqui termina la jeraquia del modulo de ticket -->
        <activity android:name=".Munu_Principal" />
        <activity
            android:name=".configuracion.ConfiguracionServidor"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden"
            android:windowSoftInputMode="adjustPan|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.zcs.sdk.pin.pinpad.PinPadPasswordActivity"
            android:theme="@style/Theme.WindowActivity" />
        <activity android:name=".qr.QRTestActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name="com.google.zxing.client.android.CaptureActivity" />
        <activity android:name=".ExternalPortActivity" />
        <activity android:name=".FingerprintActivity" />
        <activity android:name=".scan.ScanActivity" /> <!-- 7.0 -->
        <provider
            android:name=".utils.update.util.UpdateInstallProvider"
            android:authorities="update.plugin.${applicationId}.UpdateInstallProvider"
            android:exported="false"
            android:grantUriPermissions="true" />

        <activity android:name=".SLE4442Activity" />
        <activity android:name=".SLE4428Activity" />
        <activity android:name=".EmvActivity" />
    </application>

</manifest>